.header {
    background-color: #fff;
    height: 70px;
    display: flex;
    justify-content: space-around;

}
.active {
    background-color: #282c34;
}
.link{
    color: #bf1818;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    border-bottom: 1px solid #282c34;
}
.link:nth-child(1){
    border-right: 1px solid #282c34;
}
