
.downloadPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 200px;
    border: 1px solid #282c34;
    padding: 10px;
    margin: 50px auto;
}
.btn {
    width: 200px;
    height: 50px;
}